#if ($isPage == "true")
	<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	#parse("head.vm")
	</head>
	<body>
#end

#parse($page)

#if ($isPage == "true")
	</body>
	</html>
#end